main {
    background-color: antiquewhite;
    padding: 0.5rem;
    width: 70%;
}

h1 {
    text-align: center;
    margin-top: 40px;
}

a .i {
    text-align: center;
    border: 1px solid #ccc;
    padding: 80px;
    display: inline-block;
    text-decoration: none;

    color: #333;

    margin: 10px;
    width: 200px;
    height: 240px;
    line-height: 1.5;
    background-color: rgb(186, 225, 213);
}

a .i img {
    max-width: 150px;
    max-height: 150px;
    display: block;
    margin: 0 auto 10px;
}

.box {
    margin: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}